.App {
  text-align: center;
}

.App-header {
  text-align: center;
  background-color: #81C3E6;
  height: 125px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3.0em;
}

.App-intro {
  font-size: large;
}

